.card {
  max-width: 540px;
}

.text-center {
  text-align: center;
  color: #333;
  margin-top: 20px;
  font-size: 28px;
  font-weight: bold;
}
#about {
  font-size: 25px;
  font-family: "Dancing Script", cursive;
  color: #161515;
  background-color: #a3c4d4;
  border-radius: 5px;
  line-height: 1.6;
  padding: 10px;
  margin: 30px auto;
  max-width: 50%;
  text-align: center;
}
