.homepage-container {
    background-color: white;
    
    
}




.small-grid{
    margin-bottom: 200px;
    margin-top: 200px;
}
  
.carousel{
    margin-top: 200px;
    margin-bottom: 200px;
}

.grid{
    margin-top: 40px;
}

.card{
    margin-bottom: 20px;
}