#Thebar {
  background-color: #ff7bed !important;
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 3em;
  font-family: "Dancing Script", cursive;
  color: white;
}

.white-text {
  color: white;
}

#Thebar .navbar-icon{
  height: 100px;
}