#Thebar {
  background-color: #6f808bce !important;
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 3em;
  font-family: "Dancing Script", cursive;
  color: white;
}

.white-text {
  color: white;
}
