.navbar{
    height: 120px;
    border-bottom: 2px solid #ffffff;
}

.navbar.border-bottom-gray {
    border-bottom: 8px solid #6f808bce; /* Adjust border color and thickness as needed */
}

  
.navbar-fullscreen{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}