@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&display=swap');


.navbar{
    height: 130px;
    border-bottom: 2px solid #ffffff;
}

.navbar.border-bottom-gray {
    border-bottom: 6px solid #6f808bce; /* Adjust border color and thickness as needed */
}

  
.navbar-fullscreen{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

#SonoViews{
    font-family: 'Dancing Script', cursive;
    font-size: 2em;
}